body{
	background-color:#eee;
	margin-top:120px;
	margin-left:20%;
	margin-right:20%;
	width:61%; 
}

#header {
	text-align:center;
	/*font-family: 'Titillium Web', sans-serif*/
	font-family: 'Handlee', cursive;'
	margin-top:20px;
	color:black;
	background-color:#16a085;
	padding:30px;
	border-radius:5pt;
}


#navigation {
    position:fixed;
	background-color: #3498db;
	border-bottom-width:2px;
	border-bottom-color:purple;
}


#navbar{
	position:relative;
	background-color: #3498db;
	border-bottom-width:2px;
	border-bottom-color:purple;
}


#navigation li {
	list-style:none;
	text-decoration:none;
	
	
}

#navigation a{
	text-decoration:underline;
	font-family: 'Righteous', cursive;
	color:white;
	border-radius:5pt;
	background-color:#2c3e50;
	padding:6px;
	display:inline-block;
	font-family: 'Handlee', cursive;
	font-size:130%;
}

#navigation a:hover{
	color:#8e44ad;
}

#navigation ul li {
	float: left;
	padding: 5px;
}

.float-left {
	float:left;
	display:inline-block;
}


.float-right {
	float:right;
	display:inline-block;
}

.top {
	top:0;
	left:0;
	right:0;
}

#container{
	margin-top:30px;
	
	
}
.font {
font-family: 'Handlee', cursive;
font-size:140%;

}

.content1{
	float:left;
	padding:50px;
	font-family: 'Handlee', cursive;
	width:30%;
	text-align:center;
	background-color:#95a5a6;
	border-radius:5pt;
	font-size: 120%;
	

}

.content2{
	float:right;
	padding:20px;
	
	width:35%;
	text-align:center;
	background-color:#95a5a6;
	border-radius:5pt;
	
	margin-top:0%;
	
}

#sidebar {
	width: 280px;
	float: right;
	margin: 30px 0 30px;
}
.widget {
font-family: 'Handlee', cursive;
font-size:120%;
	background: #eee;
	margin: 0 0 30px;
	padding: 10px 20px;
	/* rounded corner */
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	/* box shadow */
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
	
}
.widgettitle {
	margin: 0 0 5px;
	padding: 0px 10px 0px 0px;	
}

/* sidebar */
	#sidebar {
		width: 100%;
		margin: 0;
		float: none;
	}
	#sidebar .widget {
		padding: 3% 4%;
		margin: 0 0 10px;
	}
.content3{
	float:left;
	padding:20px;
	font-family: 'Handlee', cursive;
	width:35%;
	text-align:center;
	background-color:#95a5a6;
	border-radius:5pt;
	font-size: 120%;
}

.content4{
	float:right;
	padding:20px;
	font-family: 'Handlee', cursive;
	width:35%;
	text-align:center;
	background-color:#95a5a6;
	border-radius:5pt;
}

footer{
	margin-top:900px;
	position:relative;
	width:auto;
	
	
}
$col-primary: #00c7ec;
$corner-radius: 5px;

@import "compass/reset";

$colors: (
  bodyBG : #1e5799,
  facebook : #3b5998,
  twitter : #00aced,
  google-plus : #dd4b39,
  github : #8B4513,
  codepen : #000000,
  youtube : #ae0000,
  btnBG : #ffffff
  linkedIn: #3b5998,
);



.social-wrap {
 
  width: 350px;
  margin: 50px auto;
  
  button {
   
    background: map-get($colors, btnBG);
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    font-size: 1.25em;
    font-weight: bold;
    transition: color .25s ease-out,
      background .25s ease-out,
      border-radius .25s ease-out;
    box-shadow: 0px 27px 73px -10px rgba(0,0,0,0.75);
      &:hover{
      cursor: pointer;
      border-radius: 50px;
      box-shadow: 0px 27px 45px -10px rgba(0,0,0,0.75);
    }
  }
}

.fb {   color: map-get($colors, facebook);

  &:hover {
    color:  map-get($colors, btnBG);
    background:  map-get($colors, facebook);
	
  }

  &:active {
    color: map-get($colors, facebook);
    background: map-get($colors, btnBG);
  }
}

.li {   color: map-get($colors, facebook);

  &:hover {
    color:  map-get($colors, btnBG);
    background:  map-get($colors, facebook);
  }

  &:active {
    color: map-get($colors, facebook);
    background: map-get($colors, btnBG);
  }
}



.gp {   color: map-get($colors, google-plus);
  
  &:hover {
    color: map-get($colors, btnBG);
    background: map-get($colors, google-plus);
  }
  
  &:active {
    color: map-get($colors, google-plus);
    background: map-get($colors, btnBG);
  }
}


table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}


.social-wrap {
  width: 350px;
  margin: 50px auto;
  right: 400px;
}
.social-wrap button {
right: 400px;
  background: #eee;
  border: none;
  outline: none;
  width: 50px;
  height: 50px;
  font-size: 1.25em;
  font-weight: bold;
  -webkit-transition: color .25s ease-out, background .25s ease-out, border-radius .25s ease-out;
          transition: color .25s ease-out, background .25s ease-out, border-radius .25s ease-out;
  box-shadow: 0px 27px 73px -10px rgba(0, 0, 0, 0.75);
}
.social-wrap button:hover {
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0px 27px 45px -10px rgba(0, 0, 0, 0.75);
}

.fb {
  color: #3b5998;
}
.fb:hover {
  color: #ffffff;
  background: #3b5998;
}
.fb:active {
  color: #3b5998;
  background: #ffffff;
}

.li {
  color: #3b5998;
}
.li:hover {
  color: #ffffff;
  background: #3b5998;
}
.li:active {
  color: #3b5998;
  background: #ffffff;
}


.gp {
  color: #dd4b39;
}
.gp:hover {
  color: #ffffff;
  background: #dd4b39;
}
.gp:active {
  color: #dd4b39;
  background: #ffffff;
}

