body{
	background-color:#eee;
	margin-top:120px;
	margin-left:20%;
	margin-right:20%;
}

#header {
	text-align:center;
	font-family: 'Titillium Web', sans-serif;
	color:black;;
	background-color:#16a085;
	padding:30px;
	border-radius:5pt;
	font-family: 'Handlee', cursive;
	height:auto;
	font-size:150%;
	width:auto;
}

#navigation {
	position: fixed;
	background-color: #3498db;
	border-bottom-width:5px;
	border-bottom-color:purple;
}

#navigation li {
	list-style:none;
	text-decoration:none;
}

#navigation a{
	text-decoration:none;
	font-family: 'Righteous', cursive;
	color:white;
	border-radius:5pt;
	background-color:#2c3e50;
	padding:16px;
	display:inline-block;
}

#navigation a:hover{
	color:#8e44ad;
}

#navigation ul li {
	float: left;
	padding: 10px;
}

.float-left {
	float:left;
	display:inline-block;
}


.float-right {
	float:right;
	display:inline-block;
}

.top {
	top:0;
	left:0;
	right:0;
}

#container{
	margin-top:40px;
}

.content1{
	float:left;
	padding:20px;
	font-family: 'Handlee', cursive;
	width:35%;
	text-align:center;
	background-color:#95a5a6;
	border-radius:5pt;
}

.content2{
	float:right;
	padding:20px;
	font-family: 'Handlee', cursive;
	width:35%;
	text-align:center;
	background-color:#95a5a6;
	border-radius:5pt;
}

footer{
	margin-top:150px;
	position:relative;
}